:root {
    --gold: #E8C065;
    --old-brown: #1A1512;
    --card-bg-dark: rgba(255,255,255,0.06);
    --light-text: #f5f5f5;
    --border-color: rgba(255,255,255,0.1);
    --search-bg: #111;
}

/* خلفية */
body {
    margin: 0;
    background: #0A0A0A;
    font-family: 'Cairo', sans-serif;
    color: white;
}

/* الهيدر */
.header {
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(6px);
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid var(--gold);
}
.header img {
    height: 60px;
}

/* البانر */
.banner {
    background: linear-gradient(90deg, #E8C065, #F2D68E);
    color: #000;
    padding: 10px;
    margin: 10px;
    font-weight: 800;
    border-radius: 12px;
    text-align: center;
}

/* البحث */
#searchBar {
    width: 90%;
    margin: 15px auto;
    display: block;
    padding: 12px;
    background: #111;
    border: 1px solid var(--gold);
    border-radius: 8px;
    color: white;
    font-size: 1rem;
}

/* الأقسام */
.sec-card {
    background: rgba(255,255,255,0.04);
    border: 1px solid rgba(232,192,101,0.2);
    padding: 10px;
    margin: 8px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}
.sec-card.active {
    border-color: var(--gold);
    box-shadow: 0 0 15px rgba(232,192,101,0.4);
}
.sec-card img {
    width: 100%;
    height: 90px;
    border-radius: 10px;
}

/* المنتجات */
.item-card {
    background: var(--card-bg-dark);
    padding: 10px;
    border-radius: 12px;
    margin: 12px;
    border: 1px solid rgba(232,192,101,0.3);
}
.item-card img {
    width: 100%;
    border-radius: 12px;
}

.add-btn {
    background: var(--gold);
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    color: black;
    font-weight: 700;
}

/* السلة */
#cartBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background: black;
    border: 2px solid var(--gold);
    color: var(--gold);
    width: 60px;
    height: 60px;
    font-size: 28px;
    border-radius: 50%;
}

#cartDrawer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #0A0A0A;
    height: 70%;
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--gold);
    transform: translateY(100%);
    transition: 0.3s;
    padding: 15px;
}

#cartDrawer.open {
    transform: translateY(0);
}

.primary-btn {
    background: var(--gold);
    border: none;
    width: 100%;
    padding: 12px;
    font-weight: 800;
    border-radius: 8px;
}

.danger-btn {
    background: #660000;
    color: white;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
}
